@charset "utf-8";
.videoRight {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 25%;
	margin-left:  30%;
	margin-bottom: 5%;
	
	
}
.sactionLeft img {
	width: 30%;
	height: 30%;
	margin-top: -55px;
	
	
}
